.container{
    padding: 50px 0;
}

.col-user{
    margin-bottom: 25px;
}
.card img {
    display: block;
    margin: 0 auto 25px;
}
#uploadPreview{
    max-width: 128px;
    display: block;
    margin: 0 auto;
}